{% extends 'base.html.twig' %}

{% block title %}Réserver un véhicule{% endblock %}

{% block body %}
<h1>Réserver le véhicule</h1>

<form method="post">
    <div>
        <label for="voiture">Voiture:</label>
        <input type="text" id="id_v" name="voiture" value="{{ voiture.id_v }}" readonly>
    </div>
    <div>
        <label for="client">Client:</label>
        <input type="text" id="id_u" name="client" value="{{ user.id_u }}" readonly>
    </div>
    <button type="submit">Réserver</button>
</form>

{% endblock %}