{% extends 'base_admin.html.twig' %}

{% block title %}Edit Camion Remorquage{% endblock %}

{% block content %}
    <h1>Edit Camion Remorquage</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('app_camion_remorquage') }}">Back to list</a>
{% endblock %}